*{
	margin: 0 auto;
	border: 0;
	scroll-behavior: smooth;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
	padding: 1em;
	font-size: 15px;
	line-height: 25px ;	
	font-size: 1.05em;
}
h1{
	font-size: 2.5em;
	font-weight: bold;
	padding: 0.5em 0em 0.5em 0em;
	text-align: center;
}
h2{
	font-size: 2em;
	font-weight: bold;
	padding: 1em;
	line-height: 35px ;
}
.title-post{
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 1em;
	padding-top: 1em;
}
p{
	padding: 0.25em 0em 0.25em 0em;
}
ul, ol{
	padding-left: 0;
}
li{
	list-style: none;
}
nav{
	padding-bottom: 1em;
}
nav > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	flex-wrap: wrap;
	max-width: 19em;
}
nav > ul > li {
	padding: 0;
	display: flex;
	list-style: none;
}
#playAudio{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.bol{
	font-weight: bold;
}
li{
	padding: 0.25em 0;
}
header a{
	text-decoration: none;
}
a{
	color: black;
}
img, embed{
	width: 100%;
	padding: 0.5em 0em 0.5em 0em;
}
embed{
	height: 350px;
}
.grid-main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 5em;
}
.grid-main div{
	width: 40%;
	padding: 0.5em;
}
.post{
	max-width: 40em;
	filter: grayscale(100);
}
.blog-padd{
	padding: 0.5em;
}


@media (max-width: 900px) {
	.grid-main div{
		width: 100%;
	}
	embed{
		height: 325px;
	}
}
@media (max-width: 550px) {
	.grid-main div{
		width: 100%;
	}
	embed{
		height: 220px;
	}
}
/* BOX */

.tree_d_box_in{
	width: 250px;
	height: 250px;
	transform-style: preserve-3d;
	animation: threeDRotate 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	z-index: -1;
	margin-top: 7em;
	margin-bottom: 7em;
}
.in_box{
	width: 100%;
	height: 100%;
	position: absolute;
	border: 0.5px solid #000;
	filter: blur(0.25px);
}
.in_box:nth-child(1){
	transform: translateZ(125px);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	line-height: 40px;
}
.in_box:nth-child(2){
	transform: rotateY(180deg)  translateZ(125px);
}
.in_box:nth-child(3){
	transform: rotateY(-90deg) translateX(-125px);
	transform-origin: left;
}
.in_box:nth-child(4){
	transform: rotateY(90deg) translateX(125px);
	transform-origin: right;
}
.in_box:nth-child(5){
	transform: rotateX(-90deg) translateZ(-125px);
}
.in_box:nth-child(6){
	transform: rotateX(-90deg) translateZ(125px);
}
@keyframes threeDRotate{
	0%{ transform: perspective(1000px) rotateY(0deg) rotateX(0deg); }
	100%{ transform: perspective(1000px) rotateY(720deg) rotateX(0deg); }
}